networks:
  petshop-network:
    driver: bridge

services:
  keycloak:
    image: vinisouza/keycloak-petshop:latest
    container_name: keycloak
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: vmas
      KEYCLOAK_ADMIN_PASSWORD: abc123@
    networks:
      - petshop-network

  backend:
    image: vinisouza/pet-shop-backend:latest
    container_name: pet-shop-backend
    ports:
      - "8081:8081"
    depends_on:
      - keycloak
    networks:
      - petshop-network

  frontend:
    image: vinisouza/pet-shop-frontend:latest
    container_name: pet-shop-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
      - keycloak
    networks:
      - petshop-network
